/* basic shit */
body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  body {
    transition: background-size 0.5s ease;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000000;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #FF69B4;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("files/background.jpg");
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(80px);
    z-index: -1;
  }
  
  .name {
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 20px #FF69B4;
  }
  
  .aka {
    font-size: 14px;
  }
  nav {
    text-align: center;
    margin-top: 20px;
  }
  
  nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #FF1493;
  }

  nav {
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin: 10 10px;
  }

  .avatar {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 20px auto;
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .taskbar {
    margin-top: 40px;
    text-align: center;
  }
  
  .taskbar a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }

  .taskbar a:hover {
    text-decoration: underline;
  }
  
   .friend-website {
    color: rgb(221, 17, 17);
    text-decoration: none;
    text-align: left;
    margin-top: 0px;
    margin-left: 99px;
  }
  
  .transport-taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
  }
  .opcoirs-website {
    text-align: center;
    margin-top: 30px; 
    color: #fff; 
  }

  .container {
    text-align: center; 
    margin-top: 20px;
  }
  
  .pronouns {
    color: #ec32ec; 
    font-style: italic; 
    margin-top: 4px; 
  }

  .software-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: white;
  }

  .language-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: white;
  }

.made-with {
  position: fixed;
  bottom: 20px;
  right: 10px; 
  color: #fcfcfc;
  z-index: 999;
}

  .websites {
    margin-top: 20px;
    text-align: center;
  }

  .websites a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: rgba(180, 153, 224, 0.644);
  }

body {
    margin: 0;
    padding: 0;
  }
  
  .clock {
    position: fixed; 
    top: 20px;
    left: 20px; 
    font-size: 24px;
    color: #ffffff;

  }

  .time-zone {
    font-size: 16px;
    color: #ffffff; 
    text-align: center; 
  }
  
  .icon-container {

    display: grid;
    justify-content: center; 
    align-items: fixed; 
}
.centered-text {
  text-align: center;
}

.languages {
    display: flex;
    margin-top: -107px;
    font-size: 17px;
    color: #ac60be; 
    text-align: left; 
    align-items: center;
    margin-left: -300px; 
    flex-direction: column;
  }

  .softwares {
    display: flex;
    margin-top: 0px;
    font-size: 17px;
    color: #ac60be; 
    text-align: left; 
    align-items: center;
    margin-left: 300px; 
    flex-direction: column;
  }

  .fnf-character {
    position: fixed;
    bottom: 58px; 
    left: 20px; 
    z-index: 9999;
  }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@media screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }
}

{
  .container {
    padding: 40px;
  }
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu ul li {
  display: inline;
  margin-right: 20px;
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.about-me {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}


.about-me h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e265db;
}

.about-me .content {
  margin-bottom: 40px;
}

.about-me p {
  font-size: 18px;
  line-height: 1.6;
  color: #e266dc;
}

.project {
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 20px;
}

.project h2 {
  color: #3e85d6;
}

.blog-post {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-post h2 {
  color: #6A5ACD;
}

.blog-post p.time {
  color: #2d93d6;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: #fff;
  padding: 20px;
}

.friend-name {
  color: white;
  text-decoration: underline;
  } 


/* Made by Kyuiki @ 2024 - kyuiki.com */
.spark{
  pointer-events:none;
  position: fixed;
  width: 5px;
  height: 5px;
  background-color: #e22bab;
  border-radius: 100px;
  /* animation: 1s fall ease-in; */
}
@keyframes fall {
  to{
    opacity: 0;
    transform: translate(0,100px) scale(5) rotate(320deg);
  }
  
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.content-box .content {
  padding: 20px;
  display: none;
}

.toggle-btn {
  background-color: #fff;
  color: #ff69b4;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.pink-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ff69b4;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  animation: pinkWindow 0.3s ease-out forwards;
}

.pink-window .pink-btn {
  background-color: #fff;
  color: #ff69b4;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

@keyframes pinkWindow {
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.lanyard-container {
  display: flex; 
  position: absolute;
  bottom: 1;
  left: 50%;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  bottom: -8; 
  left: 0;
  width: 100%; 
}

.lanyard-container iframe {
  pointer-events: none;
}